{% extends 'base.html' %}

{% block header %}
<div class="container">
    <div class="row">
        <div class="col mb-3">
            <h1 class="mb-3 mt-3">{% block title %}Report detailed{% endblock %}</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Category</th>
      <th scope="col">Comment</th>
      <th scope="col">Income</th>
      <th scope="col">Expenditure</th>
    </tr>
  </thead>
  <tbody>
{% for record in record_list %}
        <tr>
            <td>{{ record.created.date}}</td>
            <td>{{ record.categories.name }}</td>
            <td>{{ record.comment }}</td>
            {% if record.amount < 0 %}
            <td></td>
            <td>{{ record.amount }}</td>
            {% else %}
            <td>{{ record.amount }}</td>
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr class="table-active">
            <td>Sum</td>
            <td></td>
            <td></td>
            <td>{{ sum_income }}</td>
            <td>{{ sum_expenditure }}</td>
        </tr>
        <tr class="table-active">
            <td>Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ total }}</td>
        </tr>
  </tbody>
</table>

{% endblock %}


